.btn {

    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform:uppercase;
    transition:0.5s;
    color:white;
    border: radius 10px;
    background-size:200%;
  }
  .btn1 {

    background-image:linear-gradient(to right,
    #314755,
    #21a0da,
    #314755);
  }